body {
  background-image: url('http://s2.thingpic.com/images/nY/yef3mCNnDoEG1KWApT6uDDmX.jpeg');
  background-size: cover;
}

#container {
  background-color: #D4D8D9;
  padding: 50px;
  width: 40%;
  margin: 0 auto;
  margin-top: 15%;
  box-shadow: 0 0 30px #000;
}

h1, h2 {
  font-family: monospace;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

#span1, #span2 {
  color: red;
}

#btn {
  display: block;
  font-size: 25px;
  background-color: rgb(63, 107, 202);
  color: white;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

#beatrice {
  background-color: aqua;
}

#submit {
  display: block;
  font-size: 25px;
  background-color: rgb(63, 107, 202);
  color: white;
  margin: 0 auto;
  margin-top: 25px;
  /* margin-left: 20px; */
  border-radius: 5px;
}

#capInput {
  display: block;
  margin: 0 auto;
  height: 25px;
}



